<section id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <img class="photo-left" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/12832351_1986615858229668_8819624054319393129_n.jpg?oh=af9d0c8e5906d1ea22e37bcd06cf1966&oe=5764E303&__gda__=1469162579_8584e5ee2e8d1e50b4fc63e2f6771552"/>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="photo-container">
          <div class="photo-album">
            <img id="photo-slideshow" class="photo first" src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/1487684_1986615541563033_6246361599704553939_o.jpg"/>
            <img id="photo-slideshow" class="photo photo-trail" src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xlp1/t31.0-8/12794773_1986615394896381_2976061696731634583_o.jpg"/>
            <img id="photo-slideshow" class="photo photo-trail" src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/12819215_1986615531563034_8701494443243220616_o.jpg"/>
            <img id="photo-slideshow" class="photo photo-trail" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xtp1/t31.0-8/12829272_1986615654896355_1022705992930245246_o.jpg"/>
            <img id="photo-slideshow" class="photo photo-trail" src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xta1/t31.0-8/12829392_1986615614896359_3748105234988847087_o.jpg"/>
            <img id="photo-slideshow" class="photo photo-trail" src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xal1/t31.0-8/10603993_1986615658229688_7285622724284612570_o.jpg"/>
            <img id="photo-slideshow" class="photo photo-trail" src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xfl1/t31.0-8/12034312_1986615398229714_8444409766664038663_o.jpg"/>
            <img id="photo-slideshow" class="photo photo-trail" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/12828401_1986615548229699_9087300436577760656_o.jpg"/>
            <img id="photo-slideshow" class="photo photo-trail" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/12829460_1986615401563047_5352882888346774928_o.jpg"/>
            <img id="photo-slideshow" class="photo photo-trail" src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/1487684_1986615541563033_6246361599704553939_o.jpg"/>
            <img id="photo-slideshow" class="photo photo-trail" src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xlp1/t31.0-8/12794773_1986615394896381_2976061696731634583_o.jpg"/>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <p class="welcome">
          <span class="font-25 bold italic font-initial">WELCOME </span> <span class="font-25 italic font-initial">to</span> <br>
          <span class="font-25 red font-initial">Paparazzi</span> <span class="font-25 font-initial">Instant Photography</span>
          <img class="photo-right" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpl1/t31.0-8/616852_1986615861563001_3036579251547435844_o.jpg"/>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="welcome-small">
          <span class="font-25 bold italic font-initial">WELCOME </span> <span class="font-25 italic font-initial">to</span> <br>
          <span class="font-25 red font-initial">Paparazzi</span> <span class="font-25 font-initial">Instant Photography</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <p class="description">
          <span>We provide professional instant print photography service for all ocassions and events</span> <br> <span class="indented">Pamper your guests with our "Photoman Walking Photobooth service"</span> <br> <span class="indented"> and Photo Coverage for birthdays and weddings.</span>
        </p>
      </div>
    </div>
  </div>
</section>