<section id="nav">
  <div class="container-fluid">
    <div class="row">
      <div id="nav-group" class="col-md-12">
        <a data-pjax id="home-nav-btn" class="nav-btn btn" href="/home" role="button">HOME</a>
        <a data-pjax id="gallery-nav-btn" class="nav-btn btn" href="/gallery" role="button">GALLERY</a>
        <a data-pjax id="about-nav-btn" class="nav-btn btn" href="/about" role="button">ABOUT</a>
        <img class="brand" src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/12821422_1986615891562998_743133692293135933_n.jpg?oh=5bbc6e37293f47fb33d77f8457cbf5e4&oe=5794CDD9"/>
        <a id="packages-nav-btn" class="nav-btn btn" href="/packages" role="button">PACKAGES</a>
        <a data-pjax id="reviews-nav-btn" class="nav-btn btn" href="/reviews" role="button">REVIEWS</a>
        <a id="contact-nav-btn" class="nav-btn btn" href="/contact" role="button">CONTACT US</a>
      </div>
    </div>
  </div>
</section>