#about
  overflow-x: hidden
  img
    width: 100%
    height: auto
  p
    text-align: center
    text-align: justify
    font-size: 18px
    font-style: italic
    font-weight: lighter
    font-family: serif
    &.big
      font-size: 30px
  .side
    margin-top: 5%
    left: 35px
  span.red
    color: red
  .below
    top: 20px
    position: relative
  .small
    display: none
  .col-xs-offset-1
    margin-left: 0%

@media (max-width: 991px)
  #about
    p
      font-size: 15px
      &.big
        font-size: 25px
    .col-xs-offset-1
      margin-left: 0%
    .side
      margin-top: 3.5%

@media (max-width: 767px)
  #about
    p
      margin: 0
    .side
      margin-top: 2%
      left: 0px
    .col-xs-offset-1
      margin-left: 8.33333333%

@media (max-width: 655px)
  #about
    p
      font-size: 14px
      &.big
        font-size: 22px

@media (max-width: 320px)
  #about
    p
      &.big
        font-size: 18px