.first {
 -webkit-animation: bannermove 109.8s linear infinite;
    -moz-animation: bannermove 109.8s linear infinite;
     -ms-animation: bannermove 109.8s linear infinite;
      -o-animation: bannermove 109.8s linear infinite;
         animation: bannermove 109.8s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: calc(-100% + (200%/11));
 }
 
}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: calc(-100% + (200%/11));
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: calc(-100% + (100%/11*2));
 }
 
}

 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: calc(-100% + (100%/11*2));
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: calc(-100% + (100%/11*2));
 }
 
}