#contact
  p
    text-align: center
    font-style: italic
    font-family: serif
    font-size: 18px
    &.below
      font-size: 16px
      text-align: left
      font-weight: bold
      margin-top: 30px
  textarea
    resize: none
  input
    &.submit
      width: 120px
  form
    text-align: center
  button#btn-modal
    visibility: hidden
  .modal-dialog
    position: absolute
    top: calc(50% - 75px)
    left: calc(50% - 299px)
  input.submit
    background-color: pink
    border-color: pink
    color: black
  img.big
    width: 600px
    height: auto
  img.small
    width: 300px
    height: auto
    position: absolute
    border: 15px solid white
    left: -150px
    margin-top: -65px
  .row-margin
    margin-top: 20px
  button
    position: absolute
  .image-container
    text-align: center
    left: -8%
  .padding-none
    padding: 0