#gallery
  overflow-x: hidden
  .container
    text-align: center
    margin-top: 10px
    margin-bottom: 10px
    span
      font-size: 20px
    a.gallery-button
      font-style: italic
      font-size: 70px
      color: pink

@media (max-width: 690px)
  #gallery
    .container
      a.gallery-button
        font-size: 50px

@media (max-width: 500px)
  #gallery
    .container
      a.gallery-button
        font-size: 35px