#home
  img.photo
    height: auto
    width: 660px

  img.photo-trail
    margin-left: -4px

  .photo-container
    overflow: hidden
    width: 682.5px
    height: 501px
    position: relative

  .photo-album
    width: 10000px
    height: 100%

  span.red
    color: red

  span.bold
    font-weight: bold

  span.italic
    font-style: italic

  span.font-initial
    font-family: initial

  span.font-25
    font-size: 25px

  span.indented
    margin-left: 30px

  p.welcome
    margin-left: -5px
    margin-top: 60%

  p.description
    font-size: 18px
    font-style: italic
    font-family: initial

  img.photo-right
    position: relative
    z-index: 2000
    width: 100%
    height: auto
    left: -15%
    top: 60px

  img.photo-left
    position: relative
    width: 100%
    height: auto
    top: -20px